<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mantainance page</title>
    </head>
    <body>
        {{> head}}
        <h2>
            Sample mantainance page
        </h2>
        <p>
            This site is under maintainance.
        </p>
       {{> footer}}
    </body>
</html>